<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ron.fp"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!--=========================Application===================-->
    <application
        android:name="com.ron.fp.MvpApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <!--=========================Activities===================-->
        <activity
            android:name="com.ron.fp.ui.splash.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ron.fp.ui.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ron.fp.ui.signin.SigninActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
